# # Uncomment these if you are using cmake
# *.vcxproj
# *.vcxproj.filters
# *.sln
# Box2D/*.def
# Box2D/*.h
# Box2D/*.pc
# Box2D/*.rc
# Box2D/config.h
# Box2D/freeglut.pc
# Box2D/freeglut/**
# Box2D/googletest/**


.DS_Store
*.o
*.o.d
*.class
*.a
*~

*.vcxproj.user
*.suo
*.keystore
Box2D/**/MinSizeRel/**
Box2D/**/RelWithDebInfo/**
Box2D/Box2D.opensdf
Box2D/Box2D.sdf
Box2D/Box2D.xcodeproj/**
Box2D/Box2D/Makefile
Box2D/Box2D/Makefile_*
Box2D/CMakeScripts/**
Box2D/HelloWorld/HelloWorld
Box2D/HelloWorld/Makefile
Box2D/HelloWorld/Makefile_*
Box2D/lfjs/Makefile
Box2D/lfjs/Makefile_*
Box2D/Makefile
Box2D/Makefile_*
Box2D/Testbed/Makefile
Box2D/Testbed/Makefile_*
Box2D/Testbed/Testbed
Box2D/Unittests/CallbackTests
Box2D/Unittests/ColorTests
Box2D/Unittests/ConfinementTests
Box2D/Unittests/ConservationTests
Box2D/Unittests/FunctionTests
Box2D/Unittests/HelloWorldTests
Box2D/Unittests/CommonTests
Box2D/Unittests/Makefile
Box2D/Unittests/Makefile_*
Box2D/Unittests/CodeCoverage/
Box2D/Unittests/codeCoverage.info
Box2D/Win32/**
Box2D/build.log
Box2D/config-linux.h
Box2D/config-linux.h_*
Box2D/config.h_*
Box2D/freeglut.pc_*
Box2D/flags.cmake
Box2D/flags.cmake_*
Box2D/glui/Makefile
Box2D/glui/Makefile_*
**/bin/**
**/gen/**
**/libs/**
**/obj/**
**/*.dir/**
**/CMakeFiles/**
**/CMakeFiles_*/**
**/cmake_install.cmake
**/cmake_install.cmake_*
**/CMakeCache.txt
**/CMakeCache.txt_*
**/Debug/**
**/Release/**
**/xcuserdata/**
build.xml
local.properties
project.properties
proguard-project.txt
linklint_results

# # Prerequisites
*.d

.vs/
.vscode/
out/
gnu/
x64/
x86/
Win32/
Release/
Debug/
lib/
build/
Box2D/build*/
Testing/
**.dir/

*.user

# # Compiled Object files
*.slo
*.lo
*.o
*.obj

# # Precompiled Headers
*.gch
*.pch

# # Compiled Dynamic libraries
*.so
*.dylib
*.dll

# # Fortran module files
*.mod
*.smod

# # Compiled Static libraries
*.lai
*.la
*.a
*.lib

# # Executables
*.exe
*.out
*.app

# # log files
*.log